[Unit]
Description=Set PCI Power Control for Asus Zephyrus G14 GA401IV (4800HS, 2060 Model)
After=network.target

[Service]
Type=oneshot
ExecStart=/bin/bash -c "\
echo '1' > '/sys/bus/pci/devices/0000:01:00.0/remove' && \
echo '1' > '/sys/bus/pci/devices/0000:01:00.1/remove' && \
echo '1' > '/sys/bus/pci/devices/0000:02:00.0/remove' && \
echo '1' > '/sys/bus/pci/devices/0000:04:00.0/remove' && \
echo '1' > '/sys/bus/pci/devices/0000:04:00.5/remove' && \
echo '1' > '/sys/bus/pci/devices/0000:04:00.6/remove' && \
echo '1' > '/sys/bus/pci/devices/0000:04:00.1/remove' && \
powertop --auto-tune && \
for cpu in /sys/devices/system/cpu/cpu*/cpufreq/scaling_governor; do \
    echo ondemand | tee \"\$cpu\"; \
done"
RemainAfterExit=true

[Install]
WantedBy=multi-user.target
